/*
Theme Name: HPDP
Theme URI: http://www.hpdp.org.au
Author: Harold Park Hackers
Author URI: http://www.hpdp.org.au/
Description: The HPDP theme, a child theme of Twenty Eleven
Version: 1.0
License: GNU General Public License
Template: twentyeleven
*/

@import url("twentyeleven_style.css");

#branding #searchform {
    display: none;
}

#branding {
    border-top: none;
}

#branding .only-search + #access div {
    padding-right: 0px;
}

.entry-content iframe[type="application/pdf"] {
    width: 100%;
    height: 100vh;
    max-height: 100vw;
    border: none;
}

/* PDF.js Viewer Styles */
.pdf-viewer-container {
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pdf-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.pdf-controls button {
    padding: 8px 16px;
    background-color: #0073aa;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.pdf-controls button:hover:not(:disabled) {
    background-color: #005177;
}

.pdf-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pdf-controls span {
    font-size: 14px;
    font-weight: bold;
}

.pdf-controls a {
    color: #0073aa;
    text-decoration: none;
    font-size: 14px;
}

.pdf-controls a:hover {
    text-decoration: underline;
}

.pdf-viewer-container canvas {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* Make home page NPC results match results page styling */
.npc-results-home,
.npc-results-home table {
    margin: 0 !important;
    padding: 0 !important;
}

.npc-results-home .npc-table-wrapper {
    display: inline-block;
}

.npc-results-home,
.npc-results-home td,
.npc-results-home p {
    font-family: verdana,sans-serif;
    font-size: 14pt;
    border-top-width: 0;
    border-left-width: 0;
}

.npc-results-home td,
.npc-results-home th {
    padding: 0;
}

/* Ensure HTML align attributes work */
.npc-results-home td[align="center"],
.npc-results-home th[align="center"] {
    text-align: center;
}

.npc-results-home td[align="left"],
.npc-results-home th[align="left"] {
    text-align: left;
}

.npc-results-home td[align="right"],
.npc-results-home th[align="right"] {
    text-align: right;
}

.npc-results-home table[border="1"] {
    border: 1px solid slateGray;
    border-collapse: collapse;
}

.npc-results-home table[border="1"] td,
.npc-results-home table[border="1"] th {
    border: 1px solid slateGray;
}

.npc-results-home a {
    color: slateGray;
    text-decoration: none;
}

.npc-results-home a:hover {
    color: black;
}

.npc-results-home .title {
    color: black;
    font-weight: bold;
    text-align: center;
    cursor: hand;
}

.npc-results-home .title:hover {
    color: slategray;
}

.npc-results-home .list {
    cursor: hand;
}

.npc-results-home table p {
    margin: 0;
    padding: 0;
}

.npc-results-home .pgTitle {
    font-family: verdana,times,serif;
    font-weight: bold;
}
