---
layout: default
---
<article>
  <header class="entry-header">
    <h1 class="entry-title">
      <a href="{{ page.url | relative_url }}" rel="bookmark">{{ page.title | escape }}</a>
    </h1>
    <div class="entry-meta">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <span>Posted on </span>
      <a href="{{ page.url | relative_url }}" rel="bookmark">
        <time datetime="{{ page.date | date: date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
      </a>
    </div>
  </header>

  <div class="entry-content">
    {{ page.content }}
  </div>

  <footer class="entry-meta">
    {%- if page.categories.size > 0 -%}
      <span>Posted in {{ page.categories | array_to_sentence_string }}</span>
    {%- endif -%}
    {%- if page.categories.size > 0 and page.tags.size > 0 -%}
      <span> | </span>
    {%- endif -%}
    {%- if page.tags.size > 0 -%}
      <span>Tagged {{ page.tags | array_to_sentence_string: ' ' }}</span>
    {%- endif -%}
  </footer>
</article>

{%- if page.comments.size > 0 -%}
  <div id="comments">
    <h2 id="comments-title">
      {{ page.comments.size }}
      {% if page.comments.size > 1 %}comments{% else %}comment{% endif %}
    </h2>
    <ol class="commentlist">
      {%- for comment in page.comments -%}
        <li class="comment">
          <article id="comment-{{ comment.id }}">
            <footer class="comment-meta">
              <div class="comment-author">
                <strong>{{ comment.author }}</strong> on
                <a href="#comment-{{ comment.id }}">
                  <time datetime="{{ comment.date | date: date_to_xmlschema }}">
                    {{ comment.date | date: "%B %d, %Y at %R" }}
                  </time>
                </a>
                <span> said:</span>
              </div>
            </footer>
            <div class="comment-content">{{ comment.content | newline_to_br }}</div>
          </article>
        </li>
      {%- endfor -%}
    </ol>
  </div>
{%- endif -%}
